<!DOCTYPE html>
<html>
<head>
    <title>AWS Cost Data and Metrics</title>
</head>
<body>
    <h1>AWS Cost Data</h1>
    <table border="1">
        <tr>
            <th>Service</th>
            <th>Instance Type</th>
            <th>Cost</th>
        </tr>
        {% for data in aws_cost_data %}
        <tr>
            <td>{{ data.service }}</td>
            <td>{{ data.instance_type }}</td>
            <td>{{ data.cost }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>CPU Metrics Data</h1>
    <table border="1">
        <tr>
            <th>Instance ID</th>
            <th>Timestamp</th>
            <th>CPU Utilization</th>
            <th>Network In</th>
            <th>Network Out</th>
            <th>Memory Utilization</th>
            <th>Volume Read Bytes</th>
            <th>Volume Write Bytes</th>
        </tr>
        {% for data in cpu_metrics_data %}
        <tr>
            <td>{{ data.instance_id }}</td>
            <td>{{ data.timestamp }}</td>
            <td>{{ data.cpu_utilization }}</td>
            <td>{{ data.network_in }}</td>
            <td>{{ data.network_out }}</td>
            <td>{{ data.memory_utilization }}</td>
            <td>{{ data.volume_read_bytes }}</td>
            <td>{{ data.volume_write_bytes }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Underutilized Instances</h1>
    <table border="1">
        <tr>
            <th>Instance ID</th>
            <th>CPU Utilization</th>
        </tr>
        {% for data in underutilized_instances %}
        <tr>
            <td>{{ data.instance_id }}</td>
            <td>{{ data.cpu_utilization }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>